/*importando coisas*/


/*font-family Sofia*/

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*font-family Nerko One - Fonte dos títulos*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/*font-family indie flower*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&display=swap');

/*Backgrounds*/


/*-----------------------------------------------------------------------------------------*/

body {
    margin: 0;
    background-color: rgb(36, 36, 36);
}


/*para a tela do meu pc*/

@media only screen and (max-width: 1920px) {
    /*apresentação/introdução sobre mim*/
    /*Alinhando todo o texto no meio*/
    .apresentação * {
        text-align: center;
    }
    .apresentação {
        width: 100%;
        height: 100%;
    }
    /*"Oi, eu sou o pedro"*/
    .apresentação h1 {
        font-family: sofia;
        font-size: 400%;
        color: rgb(248, 170, 0);
        margin: 0;
        padding-top: 5%;
    }
    /*"Um programador"*/
    .apresentação h2 {
        font-family: Nerko One;
        font-size: 200%;
        padding-top: 5%;
        color: rgb(174, 0, 255);
    }
    .intro {
        text-align: center;
    }
    /*Avatar*/
    .avatar img {
        width: 30%;
        height: 30%;
        padding-top: 10%;
    }
    /*Tenho 20 anos...*/
    .intro p {
        text-align: center;
        font-family: indie flower;
        font-size: 200%;
        padding-top: 0%;
        padding-bottom: 8%;
        color: rgb(0, 255, 76);
        margin: auto;
        width: 40%;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Fundo do top do site*/
    div#caixa1 {
        width: 100%;
        height: 100%;
        background-color: rgb(31, 31, 31);
    }
    .logocity img {
        text-align: center;
        width: 40%;
        padding-bottom: 0;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Aprendi a mexer no photoshop... + Desde a infancia...*/
    .textoesquerda {
        text-align: left;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        padding-top: 5%;
        padding-bottom: 5%;
        width: 60%;
        margin: auto;
        /*Cyberpunk style*/
    }
    /*Imagem*/
    .textoesquerda img {
        width: 35%;
        float: right;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Comecei a programar...*/
    .textodireita {
        text-align: right;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        padding-top: 5%;
        padding-bottom: 5%;
        width: 60%;
        margin: auto;
    }
    .textodireita img {
        width: 35%;
        float: left;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Area de contato*/
    .caixacontato {
        text-align: left;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        width: 80%;
        background-color: rgb(65, 156, 37);
        border: 200%;
        border-color: crimson;
        border-radius: 10px;
        margin: auto;
    }
    .caixacontato form {
        float: left;
        margin: auto;
    }
}


/*-----------------------------------------------------------------------------------------*/


/*telas de celulares grandes*/

@media only screen and (max-width: 1080px) {
    /*Imagem do fundo*/
    div#caixa1 {
        width: 100%;
        height: 400%;
    }
    .logocity img {
        width: 90%;
        padding-top: 30%;
    }
    /*------------------------------------*/
    .avatar img {
        padding-top: 10%;
        width: 100%;
    }
    .apresentação h1 {
        padding-top: 20%;
        font-size: 800%;
        margin: auto;
    }
    .apresentação h2 {
        padding-top: 50%;
        font-size: 400%;
    }
    .apresentação p {
        font-size: 470%;
        width: 50%;
    }
    /*------------------------------------*/
    .textoesquerda img {
        width: 50%;
        float: initial;
    }
    .textoesquerda {
        text-align: center;
        font-size: 300%;
        width: auto;
    }
    /*------------------------------------*/
    .textodireita img {
        width: 50%;
        float: initial;
    }
    .textodireita {
        text-align: center;
        width: auto;
        font-size: 300%;
    }
    /*------------------------------------*/
    .caixacontato {
        width: auto;
        text-align: center;
    }
    .caixacontato form {
        float: left;
    }
}

@media only screen and (max-width: 981px) {}