/*importando coisas*/


/*font-family Sofia*/

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*font-family Nerko One - Fonte dos títulos*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/*font-family indie flower*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&display=swap');

/*font-family Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*para a tela do meu pc*/


/*Caracteristicas gerais*/

body {
    margin: 0;
    text-align: center;
    background-color: rgb(31, 31, 31);
}

@media only screen and (max-width: 1920px) {
    /*texto "fala comigo!"*/
    .falacmg {
        width: 60%;
        font-size: 200%;
        font-family: sofia;
        color: greenyellow;
        padding-top: 1.5%;
        margin: auto;
    }
    /*imagens*/
    .falacmg img {
        width: 35%;
    }
    /*email de contato*/
    #email {
        font-family: poppins;
        color: mediumaquamarine;
    }
    /*linha de separação*/
    hr {
        border: dotted;
        border-bottom: none;
        width: 4%;
    }
    form {
        padding-top: 1.5%;
    }
    /*Parte escrita do formulário*/
    label {
        font-family: poppins;
        color: mediumaquamarine;
    }
    /*Area de entrada de texto Nome e Email*/
    input {
        background-color: rgb(201, 201, 201);
    }
    /*Area de entrada de texto da mensagem*/
    textarea {
        background-color: rgb(201, 201, 201);
    }
    /*Botão para enviar*/
    #botaoEnviar {
        width: 8%;
        height: 6%;
        font-family: poppins;
        font-size: 120%;
        color: rgb(54, 218, 32);
        background-color: rgb(56, 56, 56);
        border-radius: 5px;
        border: 0;
        box-shadow: green;
        text-decoration: none;
        padding: 0.54%;
    }
    #botaoEnviar:hover {
        background-color: rgb(73, 73, 73);
    }
    .sidemenu {
        border-radius: 5px;
        width: 15%;
        margin: auto;
        position: fixed;
        top: 9%;
    }
    .sidemenu ul {
        text-align: left;
        list-style-type: none;
        padding-left: 0;
        margin: auto;
    }
    .menuButton {
        background-color: rgb(38, 38, 38);
        line-height: 200%;
        width: 100%;
        font-size: 120%;
        border-radius: 5px;
        border: 0;
        font-family: poppins;
        color: rgb(134, 24, 185);
        text-decoration: none;
    }
    .menuButton a {
        text-decoration: none;
        color: rgb(134, 24, 185);
    }
    .menuButton:hover {
        background-color: rgb(53, 53, 53);
        transition: 0.25s;
    }
    .menuMobile {
        display: none;
    }
}


/*telas de celulares grandes*/

@media only screen and (max-width: 1080px) {
    .falacmg {
        width: 100%;
    }
    .falacmg h1 {
        font-size: 500%;
    }
    .falacmg img {
        width: 70%;
    }
    .hr {
        width: 50%;
    }
    #email {
        font-size: 250%;
    }
    form {
        font-size: 300%;
    }
    input {
        width: 50%;
        height: 2.5%;
    }
    textarea {
        width: 80%;
    }
    #botaoEnviar {
        width: 50%;
        padding-top: 0%;
    }
    .menuButton {
        height: 1%;
    }
    .sidemenu {
        display: none;
    }
    .menuMobile {
        display: initial;
    }
    .menuMobile button {
        display: inline;
        width: 100%;
        height: 5%;
        font-size: 300%;
    }
}