/*importando coisas*/


/*font-family Sofia*/

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*font-family Nerko One - Fonte dos títulos*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/*font-family indie flower*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&display=swap');

/*font-family Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*Backgrounds*/


/*-----------------------------------------------------------------------------------------*/

body {
    margin: 0;
    background-color: rgb(36, 36, 36);
}

hr {
    border: dotted;
    border-bottom: none;
    width: 4%;
}


/*para a tela do meu pc*/

@media only screen and (max-width: 1920px) {
    /*apresentação/introdução sobre mim*/
    /*Alinhando todo o texto no meio*/
    .apresentação * {
        text-align: center;
    }
    .apresentação {
        width: 100%;
        height: 100%;
    }
    /*"Oi, eu sou o pedro"*/
    .apresentação h1 {
        font-family: sofia;
        font-size: 400%;
        color: rgb(248, 170, 0);
        margin: 0;
        padding-top: 5%;
    }
    /*"Um programador"*/
    .apresentação h2 {
        font-family: Nerko One;
        font-size: 200%;
        padding-top: 5%;
        color: rgb(174, 0, 255);
    }
    .intro {
        text-align: center;
    }
    /*Avatar*/
    .avatar img {
        width: 30%;
        height: 30%;
        padding-top: 10%;
    }
    /*Tenho 20 anos...*/
    .intro p {
        text-align: center;
        font-family: indie flower;
        font-size: 200%;
        padding-top: 0%;
        padding-bottom: 8%;
        color: greenyellow;
        margin: auto;
        width: 40%;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Fundo do top do site*/
    div#caixa1 {
        width: 100%;
        height: 100%;
        background-color: rgb(31, 31, 31);
    }
    .logocity img {
        text-align: center;
        width: 40%;
        padding-bottom: 0;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Aprendi a mexer no photoshop... + Desde a infancia...*/
    .textoesquerda {
        text-align: left;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        padding-top: 5%;
        padding-bottom: 5%;
        width: 60%;
        margin: auto;
        /*Cyberpunk style*/
    }
    /*Imagem*/
    .textoesquerda img {
        width: 35%;
        float: right;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Comecei a programar...*/
    .textodireita {
        text-align: right;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        padding-top: 5%;
        padding-bottom: 5%;
        width: 60%;
        margin: auto;
    }
    .textodireita img {
        width: 35%;
        float: left;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Contato*/
    .caixacontato {
        text-align: center;
        font-family: indie flower;
        font-size: 150%;
        color: rgb(255, 255, 255);
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    /*Fala comigo!*/
    .caixacontato h2 {
        font-size: 200%;
        font-family: sofia;
        color: greenyellow;
    }
    .caixacontato h3 {
        font-family: Nerko One;
        font-size: 100%;
        color: goldenrod;
    }
    .caixacontato p {
        padding-bottom: 3%;
    }
    /*botão contato*/
    #cttbutton {
        width: 20%;
        height: 25%;
        font-family: poppins;
        font-size: 120%;
        color: rgb(54, 218, 32);
        background-color: rgb(56, 56, 56);
        border-radius: 5px;
        border: 0;
        box-shadow: green;
        text-decoration: none;
        padding: 0.54%;
    }
    #cttbutton:hover {
        background-color: rgb(73, 73, 73);
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Redes sociais*/
    .linksredessociais {
        text-align: center;
        width: 100%;
        height: 50%;
        background-color: rgb(40, 12, 116);
        margin-bottom: 0%;
        padding-bottom: 0;
    }
    .linksredessociais a {
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 350%;
        text-decoration: none;
        color: rgb(32, 119, 218);
        margin: 0, 100%, 0;
    }
    .linksredessociais p {
        line-height: 150%;
        padding-bottom: 4%;
        color: rgb(104, 104, 104);
        margin-bottom: 0;
    }
    /*-----------------------------------------------------------------------------------------*/
    /*Side menu para acessar outras páginas*/
    .sidemenu {
        border-radius: 5px;
        width: 15%;
        margin: auto;
        position: fixed;
        top: 9%;
    }
    .sidemenu ul {
        text-align: left;
        list-style-type: none;
        padding-left: 0;
        margin: auto;
    }
    .menuButton {
        background-color: rgb(38, 38, 38);
        line-height: 200%;
        width: 100%;
        font-size: 120%;
        border-radius: 5px;
        border: 0;
        font-family: poppins;
        color: rgb(134, 24, 185);
        text-decoration: none;
    }
    .menuButton a {
        text-decoration: none;
        color: rgb(134, 24, 185);
    }
    .menuButton:hover {
        background-color: rgb(53, 53, 53);
        transition: 0.25s;
    }
    .menuMobile {
        display: none;
    }
}


/*-----------------------------------------------------------------------------------------*/


/*telas de celulares grandes*/

@media only screen and (max-width: 1080px) {
    /*Imagem do fundo*/
    div#caixa1 {
        width: 100%;
        height: 400%;
    }
    .logocity img {
        width: 90%;
        padding-top: 30%;
    }
    /*------------------------------------*/
    .avatar img {
        padding-top: 10%;
        width: 100%;
    }
    .apresentação h1 {
        padding-top: 20%;
        font-size: 800%;
        margin: auto;
    }
    .apresentação h2 {
        padding-top: 50%;
        font-size: 400%;
    }
    .intro p {
        font-size: 470%;
        width: auto;
    }
    /*------------------------------------*/
    .textoesquerda img {
        width: 50%;
        float: initial;
    }
    .textoesquerda {
        text-align: center;
        font-size: 300%;
        width: auto;
    }
    /*------------------------------------*/
    .textodireita img {
        width: 50%;
        float: initial;
    }
    .textodireita {
        text-align: center;
        width: auto;
        font-size: 300%;
    }
    /*------------------------------------*/
    .caixacontato {
        width: auto;
        text-align: center;
    }
    .caixacontato h2 {
        font-size: 400%;
    }
    .caixacontato h3 {
        font-size: 200%;
    }
    .caixacontato p {
        font-size: 200%;
    }
    /*------------------------------------*/
    #cttbutton {
        width: 80%;
        height: 30%;
        font-size: 200%;
    }
    /*------------------------------------*/
    .linksredessociais a {
        font-size: 300%;
    }
    .linksredessociais p {
        font-size: 200%;
    }
    /*------------------------------------*/
    .sidemenu {
        display: none;
    }
    /*------------------------------------*/
    .menuMobile {
        display: initial;
    }
    .menuMobile button {
        display: inline;
        width: 100%;
        height: 300%;
        font-size: 300%;
    }
}

@media only screen and (max-width: 981px) {}